*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;  
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p{
    font-size: 1.125rem;
    color: hsl(215, 51%, 70%);
}



.container .card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.625rem;
    
}

.container .card .image {
    padding: 1.25rem;
    position: relative;
  
    
}
.container .card .image div{
    position:absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    
    width: calc(100% - 2.5rem);
    height: calc(100% - 3.125rem);
   
    border-radius: 0.625rem;
    opacity: 0;
    transition: .3s;
   
}
.container .card .image div:hover{
    opacity: 1;
    cursor: pointer;
}

.container .card .image div img{
position: absolute;
width: 6.25rem;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
    
}


.container .card .image img{
    width: 21.875rem;
    margin-bottom: 0.625rem;
   
}


.container .card .image img:hover{
    
    cursor: pointer;

}
 


.container .card .title h1{
    color: hsl(0, 0%, 100%);
    padding-bottom: 1.25rem;
    padding: 1.25rem;
    padding-top: 0;
    padding-bottom: 0;
}
.container .card .title h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;

}
.container .card .title p{
    width: 30ch;
    line-height: 1.5;
    word-spacing: 0.125rem;
    padding: 1.25rem;
}

.container .card .price-and-time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;

}
.container .card .price-and-time .ethreum{
    margin-left: 1.25rem;
    display: flex;
    gap: 0.3125rem;
    justify-content: center;
    align-items: center;

}
.container .card .price-and-time .ethreum h2{
    font-size: 1.25rem;
    white-space: nowrap;
    color:  hsl(178, 100%, 50%);
}
.container .card .price-and-time .time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.25rem;
    gap: 0.3125rem;
}
hr{
    width: calc(100% - 2.5rem);
    margin:  0 auto 0.625rem auto;
    border: none;
    background-color: hsl(215, 51%, 70%);
    height: 0.0063rem;
    
    
}


.container .card footer{
    display: flex;
   align-items: center;
   padding: 1.25rem;
  
   gap: 0.3125rem;
}
.container .card footer h3{
    color: white;
    font-size: 1.125rem;
}
.container .card footer h3:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.container .card footer img{
    width: 3.125rem;
    border:0.0625rem solid white;
    border-radius: 50%;

}

